<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings><keyBindings HARD_DROP="Space" MOVE_LEFT="Left" MOVE_RIGHT="Right" ROTATE_LEFT="2" ROTATE_RIGHT="Up" SOFT_DROP="Down"/><colors><color><red>0</red><green>255</green><blue>255</blue></color><color><red>0</red><green>0</green><blue>255</blue></color><color><red>255</red><green>140</green><blue>0</blue></color><color><red>255</red><green>255</green><blue>0</blue></color><color><red>0</red><green>255</green><blue>0</blue></color><color><red>128</red><green>0</green><blue>128</blue></color><color><red>255</red><green>0</green><blue>0</blue></color></colors></settings>